<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">Current Users</h2>
          <ul class="list-group list-group-flush">
            <%= render @users %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
