<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <div class="col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
            <!-- BG image set in CSS --> 
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
            <%= render 'form', user: @user %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

