<li class="list-group-item">
  <%= link_to event.title, event %> <small>on</small> <%= event.date.strftime('%B %d, %Y') %><br>
  <small class="text-muted">by <%= link_to event.host.name, event.host, class:'alert-link text-muted'%></small>
</li>
