<div class="container bg-light rounded">
  <div class="row">
    <div class="col-8 m-3">
          <h2>All Events</h2>
          <ul class="list-group list-group-flush">
            <%= render @events %>
          </ul>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-8 mb-3">
      <%= link_to 'Create a New Event', new_event_path %>
    </div>
  </div>
</div>
